[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
gunicorn = "*"
django-heroku = "*"
django-environ = "*"

[requires]
python_version = "3.8"
